/*GENERAL*/
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  }
img{
  width: 100%;
  height: 100%;
}
/*HEADER*/
.navbar-brand img{
  width: 15vw;
  height: 100%;
  display: block;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}


/*MAIN*/
main{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 3%;
  padding-right: 3%;
}
.section_title{
  margin-top: 10px;
  margin-bottom: 10px;
}
#banner{
  padding: 0;
}
#banner .banner_container{
  width: 100%;
  height: auto;
  display: block;
}
#us p{
  text-align: justify;
}

#catalogue .image_container{
  width: auto;
  display: block;
  margin: auto;
}
.image_container a img{
  margin-top: 3%;
  margin-bottom: 3%;
}
#contact{
  margin-bottom: 5%;
}

/*FOOTER**/
footer{
  height: 12vh;
  background-color:rgb(200, 200, 200);
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .social_networks{
display: flex;
justify-content: space-around;
margin-top: 0;
margin-bottom: 0;
}
footer .social_networks a{
  display:block;
  width: 40px;
  height: 40px;
}
footer .copyright p{
  display: flex;
  justify-content: center;
}

/*MEDIA QUERY*/
