/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  }
img{
  width: 100%;
  height: 100%;
}
/*HEADER*/
.navbar{
  padding-top: 1px;
  padding-bottom: 1px;
}
.navbar-brand img{
  width: 15vw;
  height: 100%;
  display: block;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
.d-flex{
  margin-bottom: 5px;
}

/*MAIN*/
main{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 3%;
  padding-right: 3%;
}
.section_title{
  margin-top: 10px;
  margin-bottom: 10px;
}
.page_title{
  text-align: center;
}
#banner{
  padding: 0;
}
#banner .banner_container{
  width: 100%;
  height: auto;
  display: block;
}
#us p{
  text-align: justify;
}

#catalogue .image_container{
  width: auto;
  display: block;
  margin: auto;
}
.image_container a img{
  margin-top: 3%;
  margin-bottom: 3%;
}
#contact{
  margin-bottom: 5%;
}
.card{
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5%;
}

/*FOOTER*/

.footer {
  height: 12vh;
  background-color: rgb(200, 200, 200);
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .social_networks{
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  height: 7vh;
}
footer .social_networks a{
  display:block;
  width: 30px;
  height: 30px;
}
footer .copyright p{
  display: flex;
  justify-content: center;
  height: 3vh;
  margin-top: 0;
  margin-bottom: 0;
}
/*.footer{
  background-color:#24262b;
  padding: 70px 0;
}
.container-footer{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;

}*/
/*MEDIA QUERY*/
/*Escritorio*/
@media (min-width: 1199.98px)  {
    body{background: red;}
}
/*Fin escritorio*/
/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: orange;}
}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: blue;}
}
/*fin tablet*/
/*movil*/
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: black;}
}
/*fin movil*/
